
*{
    margin: 0;
    padding: 0;

}

:root{
    --color-pera:#8fe9a5;
}


.bg-dark{


    background-color: #ffffff !important;
    background-image: url("../images/bg-verde.png");
}
/*h1,h2{
    font-family: 'Givonic',sans-serif;
    font-weight: 900;
    color: aqua;
}*/
.text-titulo{

    font-family: 'Givonic-1',sans-serif;
    font-weight: 600;
    color:#40c15d;
}
.navbar{

    min-height: 4rem;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 2);*/
    background-image: url("../images/bg-verde.png");
}

.hero{
    margin-top: 30px;
}

.btn{
    font-size: givonic-bold;
    font-size:16px;
    padding: 10px 30px;
    border-radius: 50px;
    min-width: 160px;
    
    
}
.btn-light {
    background-color: #40c15d;

    transition: all .3s;
    color:#ffffff !important;
    font-family: 'Givonic';
    font-size: 16px;
    border: 1px solid #40c15d !important;

}
p.fuente_1{
    font-family: 'Givonic';
    color:rgb(76, 0, 255);
    font-size: 16px;

}
.nav-link{
    font-family: 'Givonic';
    color:rgb(76, 0, 255);
    font-size: 16px;

}
.py-6{
    padding: 5rem 0;
}
.btn-primary{
    /*background-color: #40c15d;*/
   background: linear-gradient(180deg, #40c15d 0%, #306485 100%);
    color:#ffffff !important;
    font-family: 'Givonic';
    font-size: 16px;
    border: 1px solid #51e977 !important;

}
.btn-secondary{
    background: linear-gradient(180deg, #ffffff 0%, #cff0d7 100%);
    /*background-color: #ffffff;*/
    color:#40c15d !important;
    font-family: 'Givonic';
    font-size: 16px;
    border: 1px solid #73837e !important;

}


