
*{
    margin: 0;
    padding: 0;

}

:root{
    --color-pera:#8fe9a5;
    --color-titulos:#40c15d;;
}


.bg-dark{


    background-color: #ffffff !important;
    background-image: url("../images/bg-verde.png");
}

.text-titulo{

    font-family: 'Givonic-1',sans-serif;
    font-weight: 600;
    color:#40c15d;
}
.navbar{

    min-height: 4rem;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 2);*/
    background-image: url("../images/bg-verde.png");
}

.hero{
    margin-top: 30px;
}

.btn{
    font-size: givonic-bold;
    font-size:16px;
    padding: 10px 30px;
    border-radius: 50px;
    min-width: 160px;
    
    
}
.btn-light {
    background-color: #40c15d;

    transition: all .3s;
    color:#ffffff !important;
    font-family: 'Givonic';
    font-size: 16px;
    border: 1px solid #40c15d !important;

}
p.fuente_1{
    font-family: 'Givonic';
    color:rgb(76, 0, 255);
    font-size: 16px;

}
.nav-link{
    font-family: 'Givonic';
    color:rgb(76, 0, 255);
    font-size: 16px;

}
.py-6{
    padding: 5rem 0;
}
.btn-primary{
    /*background-color: #40c15d;*/
    background: linear-gradient(180deg, #40c15d 0%, #306485 100%);
    color:#ffffff !important;
    font-family: 'Givonic';
    font-size: 16px;
    border: 1px solid #51e977 !important;

}

.btn-secondary{
    background: linear-gradient(180deg, #ffffff 0%, #cff0d7 100%);
    color:#40c15d !important;
    font-family: 'Givonic';
    font-size: 16px;
    border: 1px solid #73837e !important;

}

/*.parraNos"{
    font-family: 'Givonic';
    color:rgb(76, 0, 255);
    font-size: 16px;
}*/
 .card-title{
    font-family: 'Givonic-1',sans-serif;
    color: #2ac74d;
    /*color:#40c15d;*/
    font-size: 30px;
    font-weight: normal;
    text-align: left;

}
.text-title{
    font-family: 'Givonic-1',sans-serif;
    color:#000000;
    font-size: 45px;
    font-weight: 750;
    text-align: center;
    
}

.img-responsive {
  width: 350px;
  height:350px;
  display: block;
  /*margin-left: auto;
  margin-right: auto;*/
}
.nav-tabs{
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 0px 0px 0px 8px;
    
  
  /* Inside auto layout */

    

}
.nav-tabs .nav-link.active{
    background-color: #40c15d;
    color: #000000;
    text-align: center;
    font-size: 12px;
    

}
.nav-tabs .nav-link{
    background-color: #lightgrey;
    color: #000000;
    border: 3px solid #lightblue;
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 12px;


}
.custom{
    width: 110px !Important;
}

li.Ellipse{
    padding: 3px;
    list-style-image:linear-gradient(90deg, #00AC27 0%, #00FEC4 131.82%); 
    border-radius: 50%;

    
    
}
 /* Módulo de facturación */
.modulos-font{

    
    font-family: 'Givonic-1';
    font-style: normal;
    font-weight: 750;
    font-size: 18px;
    line-height: 368%;
    background: linear-gradient(90deg, #00AC27 0%, #00FEC4 131.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     background-clip: text;
     text-fill-color: transparent;
     text-align: left;
* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.card-text{

    font-family: 'Givonic-1',sans-serif;
    color: #535353;
    margin: 25px;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    text-align: left;


}
/*.text-p{
     /*font-family: 'Givonic-1',sans-serif;
     color:#535353;
     font-size: 40px;
     font-weight: 400;
     background-color: #ffffff;

     width: 330px;
     height: 69px;

font-family: 'Givonic',sans-serif;
font-style: normal;
font-weight: 450;
font-size: 14px;
line-height: 166.5%;
flex: none;
order: 1;
flex-grow: 0;
     
}*/

.text-title-2{
    font-family: 'Givonic-1',sans-serif;
    color:#000000;
    font-size: 45px;
    font-weight: 750;
    text-align: center;
    padding-top: 30px;
    margin: 40px;
}
.custom-2{
    width: 180px !Important;
}

.rectangle-124{
padding: 0 1rem;
margin: 1rem;
width: auto;
height: 150px;
background: linear-gradient(90deg, #00AC27 0%, #00FEC4 131.82%);
box-shadow: 0px 5px 20px rgba(20, 0, 60, 0.2);
border-radius: 25px;


}
.card-title-2{
    font-family: 'Givonic-1',sans-serif;
    color: #ffffff;
    padding: 10px;
    margin: auto;
    font-size: 30px;
    font-weight: normal;
    text-align: center;

}
.sub-title{
    font-family: 'Givonic-1',sans-serif;
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;


}
.btn-secondary-2{
    background: linear-gradient(180deg, #ffffff 0%, #cff0d7 100%);
    color:#40c15d !important;
    font-family: 'Givonic';
    font-size: 16px;
    border: 1px solid #73837e !important;
    margin-left: auto;
    margin-right: auto;


}
