@font-face {
    font-family: 'Givonic';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Givonic-Regular.otf);
     
   
  }
  @font-face {
    font-family: 'Givonic-1';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Givonic-Bold.otf);
     
   
  }